*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    background-color: #eee;
}

header {
    text-align: center;
    padding: .8rem 0;
}

.img-div {
    width: 100%;
    background-color: #fff;
}

#img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-caption {
    text-align: center;
    font-size: 18px;
    padding-bottom: .8rem;
}

.tribute-info--textbox {
    width: 80%;
    margin: 0 auto;
    padding: 1.2rem 0;
}

ul > li {
    padding-bottom: 1rem;
    font-size: 18px;
}

blockquote {
    font-style: italic;
    text-align: center;
    font-size: 18px;
}